.mobile-no-content{
  display:block;
}

.global-container{
  display:block;
}

.screen-size-loader{
  display:none;
}

.ScrollableBody{
  background-color:none;
}

@media screen and (max-width:1080px) and (min-width:761px) {
  .global-container{
    display:none;
  }
  .mobile-no-content{
      display:none;
  }
  .screen-size-loader{
    display:block;
  }
  .ScrollableBody{
    background-color:black;
  }
}

@media screen and (max-width:760px) {
  .global-container{
    display:none;
  }
  .mobile-no-content{
    display:none;
  }
} 

.mobile-list-view{
  margin-left:-25%;
  width:50%;
}

@media screen and (max-width:1080px) and (min-width:761px) {
  .mobile-list-view{
      margin-left:0%;
      width:75%;
  }
}

@media screen and (max-width:760px) {
  .mobile-list-view{
    margin-left:0%;
    width:25%;

  }
}