.module_scroll_horizontal {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.module_scroll_horizontal .module_scroll_horizontal_frame {
    display: block;
    white-space: nowrap;
    animation: module_scroll_horizontal_animation 100s linear infinite;
    -moz-animation: module_scroll_horizontal_animation 100s linear infinite;
    -webkit-animation: module_scroll_horizontal_animation 100s linear infinite;
    animation-delay: -100s;
    -moz-animation-delay: -100s;
    -webkit-animation-delay: -100s;
}
.module_scroll_horizontal .module_scroll_horizontal_frame:nth-child(2) {
    animation: module_scroll_horizontal_frame_animation 100s linear infinite;
    -moz-animation: module_scroll_horizontal_frame_animation 100s linear infinite;
    -webkit-animation: module_scroll_horizontal_frame_animation 100s linear infinite;
    animation-delay: -50s;
    -moz-animation-delay: -50s;
    -webkit-animation-delay: -50s;
}
.module_scroll_horizontal_frame_content {
    display: inline-block;
}

@-webkit-keyframes module_scroll_horizontal_animation {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes module_scroll_horizontal_frame_animation {
    from {
        -webkit-transform: translateX(0%);
    }
    to {
        -webkit-transform: translateX(-200%);
    }
}

@-moz-keyframes module_scroll_horizontal_animation {
  from {
      -moz-transform: translateX(100%);
  }
  to {
      -moz-transform: translateX(-100%);
  }
}

@-moz-keyframes module_scroll_horizontal_frame_animation {
    from {
        -moz-transform: translateX(0%);
    }
    to {
        -moz-transform: translateX(-200%);
    }
  }

@keyframes module_scroll_horizontal_animation {
    from {
    transform: translateX(100%);
}
to {
    transform: translateX(-100%);
}
}

@keyframes module_scroll_horizontal_frame_animation {
    from {
    transform: translateX(0);
}
to {
    transform: translateX(-200%);
}
}

.module_scroll_horizontal:hover .module_scroll_horizontal_frame:nth-child(2) {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.module_scroll_horizontal:hover {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.module_scroll_horizontal:hover .module_scroll_horizontal_frame {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}