.module_scroll_vertical {
    position: relative;
    display: block;
    height: 3300px;
    width: 350px;
    overflow: hidden;

}
.module_scroll_vertical .module_scroll_vertical_frame {
    display: block;
    white-space: wrap;
    animation: module_scroll_vertical_animation 120s linear infinite;
    -webkit-animation: module_scroll_vertical_animation 120s linear infinite;
    -moz-animation: module_scroll_vertical_animation 120s linear infinite;
    animation-delay: -120s;
    -webkit-animation-delay: -120s;
    -moz-animation-delay: -120s;
}
.module_scroll_vertical .module_scroll_vertical_frame:nth-child(2) {
    animation: module_scroll_vertical_frame_animation 120s linear infinite;
    -webkit-animation: module_scroll_vertical_frame_animation 120s linear infinite;
    -moz-animation: module_scroll_vertical_frame_animation 120s linear infinite;
    animation-delay: -60s;
    -webkit-animation-delay: -60s;
    -moz-animation-delay: -60s;
}
.module_scroll_vertical_frame_content {
    display: block;
}


@-webkit-keyframes module_scroll_vertical_animation {
    0% {
    -webkit-transform: translateY(100%);
}
to {
    -webkit-transform: translateY(-100%);
}
}

@-webkit-keyframes module_scroll_vertical_frame_animation {
    0% {
    -webkit-transform: translateY(0);
}
to {
    -webkit-transform: translateY(-200%);
}
}



@-moz-keyframes module_scroll_vertical_animation {
    0% {
    -moz-transform: translateY(100%);
}
to {
    -moz-transform: translateY(-100%);
}
}

@-moz-keyframes module_scroll_vertical_frame_animation {
    0% {
    -moz-transform: translateY(0);
}
to {
    -moz-transform: translateY(-200%);
}
}



@keyframes module_scroll_vertical_animation {
    0% {
    transform: translateY(100%);
}
to {
    transform: translateY(-100%);
}
}

@keyframes module_scroll_vertical_frame_animation {
    0% {
    transform: translateY(0);
}
to {
    transform: translateY(-200%);
}
}


.module_scroll_vertical:hover .module_scroll_vertical_frame:nth-child(2) {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.module_scroll_vertical:hover {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.module_scroll_vertical:hover .module_scroll_vertical_frame {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
