.module_scroll_vertical {
    position: relative;
    display: block;
    height: 565px;
    width: 550px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.module_scroll_vertical .module_scroll_vertical_frame {
    display: block;
    white-space: wrap;
    animation: module_scroll_vertical_animation 40s linear infinite;
    -webkit-animation: module_scroll_vertical_animation 40s linear infinite;
    -moz-animation: module_scroll_vertical_animation 40s linear infinite;
    animation-delay: -40s;
    -webkit-animation-delay: -40s;
    -moz-animation-delay: -40s;
}
.module_scroll_vertical .module_scroll_vertical_frame:nth-child(2) {
    animation: module_scroll_vertical_frame_animation 40s linear infinite;
    -webkit-animation: module_scroll_vertical_frame_animation 40s linear infinite;
    -moz-animation: module_scroll_vertical_frame_animation 40s linear infinite;
    animation-delay: -20s;
    -webkit-animation-delay: -20s;
    -moz-animation-delay: -20s;
}
.module_scroll_vertical_frame_content {
    display: block;
}
.module_scroll_vertical_frame_content  {
    padding: .5rem 3rem;
}
@media(max-width:760px) {
    .module_scroll_vertical_frame_content  {
    width: 9rem;
    height: 9rem;
}
.module_scroll_vertical_frame_content  {
    padding: .5rem 5rem;
}
}

@-webkit-keyframes module_scroll_vertical_animation {
    0% {
    -webkit-transform: translateY(100%);
}
to {
    -webkit-transform: translateY(-100%);
}
}

@-webkit-keyframes module_scroll_vertical_frame_animation {
    0% {
    -webkit-transform: translateY(0);
}
to {
    -webkit-transform: translateY(-200%);
}
}



@-moz-keyframes module_scroll_vertical_animation {
    0% {
    -moz-transform: translateY(100%);
}
to {
    -moz-transform: translateY(-100%);
}
}

@-moz-keyframes module_scroll_vertical_frame_animation {
    0% {
    -moz-transform: translateY(0);
}
to {
    -moz-transform: translateY(-200%);
}
}



@keyframes module_scroll_vertical_animation {
    0% {
    transform: translateY(100%);
}
to {
    transform: translateY(-100%);
}
}

@keyframes module_scroll_vertical_frame_animation {
    0% {
    transform: translateY(0);
}
to {
    transform: translateY(-200%);
}
}


.module_scroll_vertical:hover .module_scroll_vertical_frame:nth-child(2) {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.module_scroll_vertical:hover {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.module_scroll_vertical:hover .module_scroll_vertical_frame {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
